.toolbar {
  margin-bottom: 5%;
}

.link {
  text-decoration: none;
}
.emptyButton {
  width: 150px;
}
.checkoutButton {
  width: 150px;
}
.contaxt{
  text-decoration: none;
  color: white
}
.cardDetails {
  display: flex;
  margin-top: 10%;
  width: 100%;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .toolbar {
    margin-bottom: 17%;
  }
}